Cours_Simplon_Java_2016_08_01_05/Jour2/prices_info.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="priceInfo">
  <xs:complexType>
    <xs:sequence>
<xs:element name="items">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="item" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="id" type="xs:positiveInteger"/>
            <xs:element name="price" type="xs:decimal"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>
